[submodule "msgpack-c"]
	path = msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
	branch = cpp_master
[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.2
